min_peers = 250
max_peers = 400
min_peers_seed = -1
max_peers_seed = -1
max_uploads = 200
download_rate = 0
upload_rate = 0
use_udp_trackers = yes
dht = disable
peer_exchange = no
pieces.memory.max.set = 6G
pieces.preload.type.set = 1
port_open = yes
trackers.numwant.set = 400
network.max_open_files.set = 65535
network.max_open_sockets.set = 65535
system.file.allocate.set = yes
network.tos.set = throughput

# -- END HERE --
